# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


C:\Users\sever\Documents\Projekte\Echtzeit_Flugbahnberechnung\Debug
C:\Users\sever\Documents\Projekte\Echtzeit_Flugbahnberechnung\x64
C:\Users\sever\Documents\Projekte\Echtzeit_Flugbahnberechnung\.vs

C:\Users\sever\Documents\Projekte\Echtzeit_Flugbahnberechnung\Flugbahnberechnung\Debug
C:\Users\sever\Documents\Projekte\Echtzeit_Flugbahnberechnung\Flugbahnberechnung\Release
C:\Users\sever\Documents\Projekte\Echtzeit_Flugbahnberechnung\Flugbahnberechnung\x64\
/.vs
