# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

C:\Users\sever\OneDrive\Dokumente\Rheinische Fachhochschule\Robotik\Flugbahnberechnung\x64/
C:\Users\sever\OneDrive\Dokumente\Rheinische Fachhochschule\Robotik\Flugbahnberechnung\Debug/
C:\Users\sever\OneDrive\Dokumente\Rheinische Fachhochschule\Robotik\Flugbahnberechnung\.vs/
/.vs
